.row {
  display: flex;
  justify-content: center;
  text-align: center;
  div {
    display: block;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--dark);
    margin: 0.25rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
  }
}
