.row {
  display: flex;
  justify-content: center;
  text-align: center;
  div {
    display: block;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--dark);
    margin: 0.25rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
  }

  .grey {
    background-color: var(--grey);
    border-color: var(--grey);
    opacity: 0.5;
  }

  .green {
    background-color: var(--dark-green);
    color: white;
    border-color: var(--dark-green);
  }

  .yellow {
    background-color: var(--gold);
    border-color: var(--gold);
  }
}
