:root {
  --dark: #2f4f4f;
  --rosy: #bc8f8f;
  --coral: #f08080;
  --gold: #ffd700;
  --green: #daf7a6;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
